<!-- Modal Show User Info-->
<div class="modal fade" id="userInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employees Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-user-info" src="assets/uploads/{{bro.image}}" />
            </div>
            <div class="col-lg-6">
              <h4>{{ bro.name }}</h4>
              <p>Job: {{ bro.job }}</p>
              <p>Age: {{ bro.age }}</p>
              <p>Gender: {{ bro.gender }}</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
</div>