	
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container">      
        <img src="https://cloud.digiparc.com/assets/logo-digiparc-color.svg" routerLink="/" alt="img" />
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" routerLink="/voyage">Voyages</a></li>
            </ul>
    </div>
</nav>

<style>
    .navbar ul li{
        font-size: 1.1em;
    }

    .navbar img{
        cursor: pointer;
    }
</style>

